{% extends 'index.html' %}

{% block title %}Home - Your App{% endblock %}

{% block content %}
    <form method="post" action="{% url 'admin_remove_students'%}">
        {% csrf_token %}

    <div style="text-align: center">
    <label for="teacher">Select a teacher</label>
    <select name="teacher" id="teacher">
       <!-- <option></option> -->
    {% for teacher in teachers %}
        <option value="{{teacher}}">{{teacher}}</option>
    {% endfor %}
    
    </select>
    <br>
    <table style="max-width:300px; margin: 0 auto;">
        <tbody>
    {% for student in students %}
    <tr class="{{student.classes}} studentdivs" style="display:none;">
        
        <td width="250px">
        {{student}}
        </td>
        <td width="50px">
        <input id="{{student}}" type="checkbox" class="students" name="student_selected" value="{{student}}">
        </td>
        
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <button id="submitButton" type="submit" style="font-size:16px;display:none; margin:auto;margin-top:10px" name="Remove Users">Remove students</button>
    </div>
    </form>
    <script>
        let selector = document.getElementById('teacher')
        let students = document.getElementsByClassName('students')
        let studentdivs = document.getElementsByClassName('studentdivs')
        let submitButton = document.getElementById('submitButton')
        console.log(selector)
        console.log(students)


        let selectedValue = selector.value;
        console.log(selectedValue);
        if(selectedValue=='Choose a teacher'){
            submitButton.style.display = 'none';
        }
        else{
            submitButton.style.display = 'block';
        }

        for(let i = 0;i<students.length;i++){
            students[i].checked = false;
            if(studentdivs[i].classList.contains(selectedValue)){
                studentdivs[i].style.display = 'block'
            }
            else{
                studentdivs[i].style.display = 'none'
            }
        }
        

        // Add event listener to detect changes
        selector.addEventListener("change", function() {
            // Get the selected value
            let selectedValue = selector.value;
            console.log(selectedValue);
            if(selectedValue=='Choose a teacher'){
                submitButton.style.display = 'none';
            }
            else{
                submitButton.style.display = 'block';
            }

            for(let i = 0;i<students.length;i++){
                students[i].checked = false;
                if(studentdivs[i].classList.contains(selectedValue)){
                    studentdivs[i].style.display = 'block'
                }
                else{
                    studentdivs[i].style.display = 'none'
                }
            }
        });
    </script>
{% endblock %}