{% extends 'index.html' %}

{% block title %}Home - Your App{% endblock %}

{% block content %}
    <h2>Times tables app</h2>
    <p>You will have to answer a series of 25 questions on tables that your teacher has set you. You have six seconds to answer each question. Your teacher has set you these times tables.</p>
    <table class="tablecol">
        <tbody>
        {% for test in test_list %}
          <tr>
            <td class="tdcol">{{test}} x 2</td>
            <td class="tdcol">{{test}} x 3</td>
            <td class="tdcol">{{test}} x 4</td>
            <td class="tdcol">{{test}} x 5</td>
            <td class="tdcol">{{test}} x 6</td>
            <td class="tdcol">{{test}} x 7</td>
            <td class="tdcol">{{test}} x 8</td>      
            <td class="tdcol">{{test}} x 9</td>
            <td class="tdcol">{{test}} x 10</td>
            <td class="tdcol">{{test}} x 11</td>
            <td class="tdcol">{{test}} x 12</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <h4><a href ="{% url 'student_play' %}"">Click here to start!</a></h4>
{% endblock %}